import /init.tee.rc

on init
    export LD_LIBRARY_PATH /system/lib64:/vendor/lib64
	setprop sys.usb.configfs 1
	setprop sys.usb.controller "musb-hdrc"
    setprop sys.usb.ffs.aio_compat 1
	setprop crypto.ready 1
	
	# Manually set ro.board.api_level to avoid keymint crashing because of this prop being empty.
	setprop ro.board.api_level 202404
	
	start vendor.boot-default
	
on fs
	write /proc/bootprof "INIT:fs"
	install_keyring
    start adbd

on post-fs
    write /proc/bootprof "INIT:post-fs"
    exec u:r:update_engine:s0 root root -- /system/bin/mtk_plpath_utils
    start mtk.plpath.utils.link
	
on property:ro.crypto.state=encrypted && property:ro.boot.dynamic_partitions=true
	start mobicore

on property:ro.vendor.trustonic.ready=true
    start vendor.gatekeeper-default
    start vendor.keymint-trustonic

on property:servicemanager.ready=true
    setprop sys.boot_completed 1

# MTK plpath utils
service mtk.plpath.utils.link /system/bin/mtk_plpath_utils
    class main
    user root
    group root system
    disabled
    oneshot
    seclabel u:r:recovery:s0

# Gatekeeper
service vendor.gatekeeper-default /vendor/bin/hw/android.hardware.gatekeeper-service.trustonic
	class early_hal
    interface android.hardware.gatekeeper@1.0::IGatekeeper default
    user root
    group root
    seclabel u:r:recovery:s0

# Keymint
service vendor.keymint-trustonic /vendor/bin/hw/android.hardware.security.keymint@3.0-service.trustonic
    class early_hal
	interface android.hardware.keymaster@4.0::IKeymasterDevice default
    interface android.hardware.keymaster@4.1::IKeymasterDevice default
    user root
	group root
    seclabel u:r:recovery:s0

# AIDL Boot HAL
service vendor.boot-default /system/bin/hw/android.hardware.boot-service.default
    class early_hal
    user root
    group root
    interface aidl android.hardware.boot.IBootControl/default
    seclabel u:r:recovery:s0


# Override Health HAL service definition.
service vendor.health-default /system/bin/hw/android.hardware.health-service.example_recovery
    class hal
    user root
    group root
    capabilities WAKE_ALARM BLOCK_SUSPEND
    file /dev/kmsg w
    seclabel u:r:recovery:s0
    override

# Override keystore2 service definition.	
service keystore2 /system/bin/keystore2 /tmp/misc/keystore
    class early_hal
	interface aidl android.system.keystore2.IKeystoreService/default
    user root
    group root keystore readproc log
    writepid /dev/cpuset/foreground/tasks
    seclabel u:r:recovery:s0
	override